@use "/home/jonathan/.config/colors" as *;
@use "sass:color";

window.Bar {
    background: transparent;
    color: $fg;
    font-weight: bold;

    button {
        padding: 2px;

        &:not(:hover) {
            background: transparent;
        }
    }

    label,
    image {
        margin: 0 3px;
    }

    .module {
        padding: 0 5px;
    }

    @mixin workspace-colors($monitor-class, $color) {
        .#{$monitor-class} {
            &.active {
                color: color.change($color, $alpha: 0.5);
            }
            &.focused {
                color: $color;
            }
        }
    }

    #workspaces {
        .inactive {
            color: color.adjust($fg, $alpha: -0.8);
        }

        @include workspace-colors("monitor-0", $red);
        @include workspace-colors("monitor-1", $green);
        @include workspace-colors("monitor-2", $blue);
        @include workspace-colors("monitor-3", $yellow);
    }

    #launcher,
    #network {
        color: $blue;
    }

    #clock {
        color: $cyan;
    }

    #date {
        color: $blue;
    }

    #weekday {
        color: $purple;
    }

    #notifications {
        color: $cyan;
    }

    #audio {
        color: $red;
    }

    #powermenu {
        color: $purple;
    }
}
