@use "sass:color";

$fg: #dcd7ba;
$bg: #1f1f28;
$black: #090618;
$red: #c34043;
$green: #76946a;
$yellow: #c0a36e;
$blue: #7e9cd8;
$purple: #957fb8;
$cyan: #6a9589;
$white: #c8c093;
$lightBlack: #727169;
$lightRed: #e82424;
$lightGreen: #98bb6c;
$lightYellow: #e6c384;
$lightBlue: #7fb4ca;
$lightPurple: #938aa9;
$lightCyan: #7aa89f;
$gray: #dcd7ba;

window.Bar {
    background: transparent;
    color: $fg;
    font-weight: bold;
    font-size: 13px;

    button {
        padding: 2px;

        &:not(:hover) {
            background: transparent;
        }
    }

    label,
    image {
        margin: 0 3px;
    }

    .module {
        padding: 0 5px;
    }

    @mixin workspace-colors($monitor-class, $color) {
        .#{$monitor-class} {
            &.active {
                color: color.change($color, $alpha: 0.5);
            }
            &.focused {
                color: $color;
            }
        }
    }

    #workspaces {
        .inactive {
            color: color.adjust($fg, $alpha: -0.8);
        }

        @include workspace-colors("monitor-0", $red);
        @include workspace-colors("monitor-1", $green);
        @include workspace-colors("monitor-2", $blue);
        @include workspace-colors("monitor-3", $yellow);
    }

    #launcher,
    #network {
        color: $blue;
    }

    #clock {
        color: $cyan;
    }

    #date {
        color: $blue;
    }

    #weekday {
        color: $purple;
    }

    #notifications {
        color: $cyan;
    }

    #audio {
        color: $red;
    }

    #powermenu {
        color: $purple;
    }
}
