@use "/home/jonathan/.config/colors" as *;
@use "sass:color";

window.Bar {
    background: transparent;
    color: $fg;
    font-weight: bold;

    button {
        padding: 2px;

        &:not(:hover) {
            background: transparent;
        }
    }

    label,
    image {
        margin: 0 3px;
    }

    .module {
        padding: 0 5px;
    }

    #workspaces {
        .inactive {
            color: color.adjust($fg, $alpha: -0.8);
        }

        .active {
            color: color.adjust($red, $alpha: -0.5);
        }

        .focused {
            color: $red;
        }
    }

    #launcher,
    #network {
        color: $blue;
    }

    #clock {
        color: $cyan;
    }

    #date {
        color: $blue;
    }

    #weekday {
        color: $purple;
    }

    #notifications {
        color: $cyan;
    }

    #audio {
        color: $red;
    }

    #powermenu {
        color: $purple;
    }
}
